/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-nov-2017, 12:38:34
    Author     : Diego
*/


td,th,tr{
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-family: Verdana;
}

.tabla_mostrar{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.tabla_detalles{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

.cuerpo_tabla_mostrar:hover {background-color:#e1caa5;}


.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url(fondo.jpg);
  background-size: 100%;
  width: 1500px;
  height: 900px;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.content {
  position: absolute;
  left: 400px;
  right: 0;
  top: 250px;
  z-index: 5000;
  margin-left: 20px;
  margin-right: 20px;
  color:  white;
  font-family: papyrus;
  font-size: 28px;
}

p{
    font-family: Verdana;
}






